# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pypirc
scrap*.py
publish_to_pypi.cmd

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.env/
